<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"
    />
    <title>Halloween Party</title>
    <script src="https://cdn.jsdelivr.net/npm/firebase@8.10.1/firebase-app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/firebase@8.10.1/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/firebase@8.10.1/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <div id="app" class="m-4">
      <h2 class="text-2xl font-bold mb-4">Register</h2>

      <div>
        <form class="max-w-sm mx-auto" v-on:submit.prevent="onRegister">
          <div class="mb-5">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Email</label
            >
            <input
              v-model="email"
              type="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              required
            />
          </div>
          <div class="mb-5">
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Full Name</label
            >
            <input
              v-model="name"
              type="text"
              id="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              required
            />
          </div>
          <div class="mb-5">
            <label
              for="student_id"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Student ID</label
            >
            <input
              v-model="student_id"
              type="tel"
              id="student_id"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              required
            />
          </div>
          <div class="mb-5">
            <label
              for="amount_paid"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Amount Paid</label
            >
            <input
              v-model="amount_paid"
              type="number"
              id="amount_paid"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              required
            />
          </div>
          <div class="mb-5">
            <label
              for="dietary_preference"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Food Option</label
            >
            <select
              v-model="dietary_preference"
              id="dietary_preference"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              required
            >
              <option value="" selected disabled>- select option -</option>
              <option value="Chicken">Chicken ({{remaining.chicken}})</option>
              <option value="Vegetarian">
                Vegetarian ({{remaining.vege}})
              </option>
            </select>
          </div>
          <div class="mb-5">
            <label
              for="type"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Type</label
            >
            <select
              v-model="type"
              id="type"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              required
            >
              <option value="" selected disabled>- select option -</option>
              <option value="Participant">Participant</option>
              <option value="Volunteer">Volunteer</option>
              <option value="Performer">Performer</option>
            </select>
          </div>
          <div class="flex items-start mb-5">
            <div class="flex items-center h-5">
              <input
                v-model="is_walked_in"
                id="is_walked_in"
                type="checkbox"
                value=""
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
              />
            </div>
            <label
              for="is_walked_in"
              class="ms-2 text-sm font-medium text-gray-900"
              >Walk-in</label
            >
          </div>

          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:bg-gray-400"
            :disabled="is_loading"
          >
            Submit
          </button>
        </form>
      </div>

      <div
        v-if="is_registered"
        class="fixed h-screen w-screen bg-white inset-0 flex justify-center items-center"
        style="
          background-image: url(/assets/background.jpg);
          background-position: center bottom;
          background-repeat: no-repeat;
          background-size: cover;
        "
      >
        <div class="qr-code-container">
          <div class="px-5 py-8 bg-slate-200/70 rounded-xl mb-6">
            <div
              class="qr-code flex flex-col items-center justify-center space-y-4"
            ></div>

            <div class="space-y-4 pt-2">
              <div class="space-y-2">
                <p class="text-center font-bold text-lg">{{registrant.name}}</p>
                <div class="flex space-x-2 items-center justify-center">
                  <p
                    class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded border border-blue-400 inline-flex items-center justify-center"
                  >
                    {{registrant.student_id}}{{checkWalkin(registrant)}}
                  </p>
                </div>
                <div class="flex space-x-2 items-center justify-center">
                  <p
                    class="bg-blue-300 text-blue-800 font-medium me-2 px-2.5 py-0.5 rounded text-center text-xs"
                  >
                    {{registrant.type}}
                  </p>
                  <p
                    class="bg-teal-200 text-teal-800 font-medium me-2 px-2.5 py-0.5 rounded text-center text-xs"
                  >
                    {{registrant.dietary_preference}}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="w-full flex justify-center items-center">
            <a
              href="./"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            >
              Done
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="../app.js"></script>
    <script src="register.js"></script>
  </body>
</html>
